
.poster-container-wrapper,
.video-container-wrapper{
  padding: 1rem;
}
.video-container{
  width:100%;
}
.video{
  text-align: center;
}
.grid-pad {
  display: flex;
  grid-gap: 20px;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-element {
  flex: 1;
  padding: 10px;
}