<div class="selectedVideo">
  {{ videoService.selectedVideo?.name | uppercase }}
</div>
<owl-carousel [options]="carouselOptions" [items]="videos" [carouselClasses]="['owl-theme', 'row', 'sliding']">
  <div class="item" *ngFor="let video of videos; let i = index">
    <div (click)="selectVideo(video)">
      <div class="module video">
        <img src="{{ video.poster }}" class="video-poster" height="250" />
      </div>
    </div>
    <!-- <img class="slide-image" src="{{ image.image }}" /> -->
    <div class="slide-text selectedVideo">
      <h4>{{ video.name | uppercase }}</h4>
    </div>
  </div>
</owl-carousel>

<!-- <div class="poster-container-wrapper">
  <div class="grid grid-pad">
    <div *ngFor="let video of videos" class="grid-element">
      <div (click)="selectVideo($event,video)">
        <div class="module video">
          <img src="{{ video.poster }}" class="video-poster" height="250" />
        </div>
      </div>
    </div>
  </div>
</div> -->
