<div class="selectedVideo">
  {{ videoService.selectedVideo.name | uppercase }}
</div>
<div
  ng2-carouselamos
  [width]="600"
  [items]="videos"
  [$item]="itemTemplate"
  [$prev]="prevTemplate"
  [$next]="nextTemplate"
  (onSelectedItem)="selectedItem = videoService.getSelectedVideo(); selectedIndex = getSelectedVideoIndex()"
></div>

<ng-template #prevTemplate class="button-container">
  <div class="template-button">
    {{ '<' }}
  </div>
</ng-template>

<ng-template #nextTemplate>
  <div class="template-button">
    {{ '>' }}
  </div>
</ng-template>

<ng-template let-video let-i="index" #itemTemplate>
  <div (click)="selectVideo(video)" class="module video">
    <img src="{{ video.poster }}" class="video-poster" height="250" />
  </div>
</ng-template>
<!-- <div class="poster-container-wrapper">
  <div class="grid grid-pad">
    <div *ngFor="let video of videos" class="grid-element">
      <div (click)="selectVideo(video)">
        <div class="module video">
          <img src="{{ video.poster }}" class="video-poster" height="250" />
        </div>
      </div>
    </div>
  </div>
</div> -->
